* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: url("https://www.xpgameplus.com/games/mahjongunlimited/inc/background6.jpg") no-repeat;
    background-size: cover;
    font-family: Poppins, sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.3em 0.6em;
    border: 1px solid darkgreen;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

/* Changing text while hovering */

.heading-container:hover span {
    display: none;
}

.heading-container:hover:before {
    content: "Not here !";
}

/* Designing the flip card */

.card-container {
    width: 300px;
    height: 450px;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1500ms;
    transform-style: preserve-3d;
}

.card-container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-image: url("./card-front.jpg");
    background-size: contain;
}

.back {
    transform: rotateY(180deg);
    background-image: url("./card-back.jpg");
    background-size: contain;
}